<div class="banner">
    <div class="container banner-text">
        <h3>📣 Interviews is now in beta! Read more →</h3>
    </div>
</div>

<nav>
    <div class="container flex nav-bar">
        <div class="nav-icon flex">
            <img src="../assets/asset 1.png" alt="company logo">
            <a class="becomeTester">Become a tester</a>
        </div>
        <div class="nav-options" id="nav-options">
            <ul class="nav-links flex">
                <li><a href="#" class="nav-link">Product <i class="fa fa-solid fa-angle-down"></i></a></li>
                <li><a href="#" class="nav-link">Customers</a></li>
                <li><a href="#" class="nav-link">Pricing</a></li>
                <li><a href="#" class="nav-link">Resources <i class="fa fa-solid fa-angle-down"></i></a></li>
                <li><a href="#" class="nav-link secondary-button">Sign In</a></li>
                <li><a href="#" class="nav-link primary-button">Try for free</a></li>
            </ul>
        </div>
        <div class="navigation-toggle">
            <a href="#" class="nav-link" id="nav-toggle" (click)="toggleFunction()"><i class="fa fa-solid fa-bars"></i></a>
        </div>
    </div>
</nav>

<header id="margin-top" class="margin">
    <div class="container flex main-body">
        <div class="main-heading">
            <h1>Design confidently.</h1>
            <p>UsabilityHub is a remote user research platform that takes the guesswork out of design decisions by
                validating them with real users.</p>
            <div class="main-body-grid-container">
                <a href="#" class="primary-button main-body-button">Get started for free</a>
                <div class="header-text-below-button">
                    <p style="font-size: 0.8rem;">No credit card required</p>
                </div>
            </div>
        </div>
        <div class="main-image">
            <img src="../assets/asset 2.jpeg" alt="main image">
        </div>
    </div>
</header>

<section class="companies-list-section">
    <div class="container company-list">
        <h3>The world’s best companies rely on UsabilityHub to make better design decisions.</h3>
        <div class="company-logo flex">
            <img src="../assets/asset 3.png" alt="company-logo">
            <img src="../assets/asset 4.png" alt="company-logo">
            <img src="../assets/asset 5.png" alt="company-logo">
            <img src="../assets/asset 6.png" alt="company-logo">
            <img src="../assets/asset 7.png" alt="company-logo">
            <img src="../assets/asset 8.svg" alt="company-logo">
            <img src="../assets/asset 9.png" alt="company-logo">
        </div>
    </div>
</section>

<section class="feature-section">
    <div class="container">
        <div class="features-heading">
            <h2>Your user research Swiss Army knife</h2>
            <a href="#" class="secondary-button">See all features <i class="fa fa-thin fa-arrow-right"></i></a>
        </div>
        <div class="feature-options flex">
            <div class="feature-logo">
                <img src="../assets/asset 11.svg" alt="">
                <h3>Card sorting</h3>
                <p>Discover how people group and label information.</p>
                <a href="#" class="secondary-button">Learn more <i class="fa fa-thin fa-arrow-right"></i></a>
            </div>
            <div class="feature-logo">
                <img src="../assets/asset 13.svg" alt="">
                <h3>Prototype tests</h3>
                <p>Discover how people navigate your Figma prototypes.</p>
                <a href="#" class="secondary-button">Learn more <i class="fa fa-thin fa-arrow-right"></i></a>
            </div>
            <div class="feature-logo">
                <img src="../assets/asset 14.svg" alt="">
                <h3>First click tests</h3>
                <p>Test interaction with first click and navigation tests.</p>
                <a href="#" class="secondary-button">Learn more <i class="fa fa-thin fa-arrow-right"></i></a>
            </div>
            <div class="feature-logo">
                <img src="../assets/asset 15.svg" alt="">
                <h3>Surveys</h3>
                <p>Get feedback on images, videos or audio files.</p>
                <a href="#" class="secondary-button">Learn more <i class="fa fa-thin fa-arrow-right"></i></a>
            </div>
            <div class="feature-logo">
                <img src="../assets/asset 16.svg" alt="">
                <h3>Preference tests</h3>
                <p>Find out which designs users prefer and why.</p>
                <a href="#" class="secondary-button">Learn more <i class="fa fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="feature-logo">
                <img src="../assets/asset 17.svg" alt="">
                <h3>Five second tests</h3>
                <p>Testing by measuring first impressions.</p>
                <a href="#" class="secondary-button">Learn more <i class="fa fa-thin fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="big-feature-section">
    <div class="container big-feature flex">
        <div class="big-feature-banner">
            <img src="../assets/asset 18.png">
        </div>
        <div class="big-feature-content">
            <h4>Effortless validation for</h4>
            <h2>Design professionals</h2>
            <p class="big-feature-content-p">Test interfaces, interaction flows, iconography and more, to help you
                create intuitive and delightful experiences for your users.</p>
            <img src="../assets/asset 19.png">
            <h4>The navigation test is god's gift to UI designers, it probably has the best power-to-simplicity ratio of
                any software, ever.</h4>
            <div class="big-feature-review flex">
                <div class="reviewer-image">
                    <img src="../assets/asset 20.png" alt="">
                </div>
                <div class="reviewer-details">
                    <h4>Nick Franklin</h4>
                    <p style="font-size: 1rem;">Chief Executive Officer</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="big-feature-section">
    <div class="container big-feature1 flex">
        <div class="big-feature-banner">
            <img src="../assets/asset 21.png">
        </div>
        <div class="big-feature-content">
            <h4>Optimisation for</h4>
            <h2>Marketers</h2>
            <p class="big-feature-content-p">Fine-tune landing pages, messaging, and creative, helping you optimise
                conversion rates on marketing campaigns and product launches.</p>
            <img src="../assets/asset 22.png">
            <h4>We use UsabilityHub tests to help us make decisions for various projects. From web and mobile design to
                marketing activities.</h4>
            <div class="big-feature-review flex">
                <div class="reviewer-image">
                    <img src="../assets/asset 23.png" alt="">
                </div>
                <div class="reviewer-details">
                    <h4>Rick van de Ven</h4>
                    <p style="font-size: 1rem;">Digital Marketing Analyst</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="big-feature-section">
    <div class="container flex big-feature">
        <div class="big-feature-banner">
            <img src="../assets/asset 24.png">
        </div>
        <div class="big-feature-content">
            <h4>Easier decision making for</h4>
            <h2>Product managers</h2>
            <p class="big-feature-content-p">Ensure you’re delivering the right features to the right customers by
                validating product concepts with your target audience.</p>
            <img src="../assets/asset 25.png">
            <h4>Adopting UsabilityHub got us into the habit of asking our users questions before locking in decisions.
            </h4>
            <div class="big-feature-review flex">
                <div class="reviewer-image">
                    <img src="../assets/asset 26.png" alt="">
                </div>
                <div class="reviewer-details">
                    <h4>Ron Diorio</h4>
                    <p style="font-size: 1rem;">VP Innovation & New Products</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="examples-section">

    <div class="container">
        <div class="examples-heading">
            <h2>One platform, endless possibilities</h2>
            <a href="#" class="secondary-button">See more examples <i class="fa fa-thin fa-arrow-right"></i></a>
        </div>

        <div class="example-items flex">
            <a href="#" class="examples">
                <p>Can users complete a task in my software interface?</p>
            </a>
            <a href="#" class="examples">
                <p>Can users find important pages on my website?</p>
            </a>
            <a href="#" class="examples">
                <p>Is my website's intended audience clear?</p>
            </a>
            <a href="#" class="examples">
                <p>Do visitors understand what a page is about?</p>
            </a>
        </div>
    </div>

</section>

<section class="advertisement-section">
    <div class="container flex adverstisements">
        <div class="advertise">
            <h2>No participants?</h2>
            <h2>No problem.</h2>
            <p>Our integrated panel allows you to quickly and affordably recruit research participants that precisely
                match your target audience.</p>
            <h3>Our panel includes:</h3>
            <div class="services flex">
                <div>
                    <ul class="services-ul">
                        <li>530k+ panel participants</li>
                        <li>35+ demographic options</li>
                        <li>Free demographic targeting</li>
                    </ul>
                </div>
                <div>
                    <ul class="services-ul">
                        <li>Coverage in 100+ countries</li>
                        <li>Average 2hr turn around time</li>
                        <li>Response quality guarantee</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="advertise-image">
            <img src="../assets/asset 40.png" alt="">

        </div>
    </div>
</section>

<footer>
    <div class="container footer-container flex">
        <a href="#">
            <img style="width: 170px;" src="../assets/asset 1.png">
        </a>
        <div class="link-options flex">
            <h4>Company</h4>
            <a href="#" class="nav-link">About us</a>
            <a href="#" class="nav-link">Customers</a>
            <a href="#" class="nav-link">Careers</a>
            <a href="#" class="nav-link">Contact us</a>
            <a href="#" class="nav-link">Status page</a>
            <a href="#" class="nav-link">Privacy policy</a>
            <a href="#" class="nav-link">Terms & conditions</a>
            <a href="#" class="nav-link">Security information</a>
        </div>

        <div class="link-options flex">
            <h4>Overview</h4>
            <a href="#" class="nav-link">Pricing</a>
            <a href="#" class="nav-link">Card sorting</a>
            <a href="#" class="nav-link">Surveys</a>
            <a href="#" class="nav-link">Five second testing</a>
            <a href="#" class="nav-link">Preference testing</a>
            <a href="#" class="nav-link">Privacy policy</a>
            <a href="#" class="nav-link">Terms & conditions</a>
            <a href="#" class="nav-link">Security information</a>
        </div>

        <div class="link-options flex">
            <h4>Solutions</h4>
            <a href="#" class="nav-link">Marketing</a>
            <a href="#" class="nav-link">Enterprise</a>
        </div>

        <div class="link-options flex">
            <h4>Resources</h4>
            <a href="#" class="nav-link">Resources hub</a>
            <a href="#" class="nav-link">Blog</a>
            <a href="#" class="nav-link">Videos</a>
            <a href="#" class="nav-link">Guides</a>
            <a href="#" class="nav-link">Templates</a>
            <a href="#" class="nav-link">Help center</a>
        </div>
    </div>
</footer>

<div class="subfooter">
    <div class="container subfooter-container flex">
        <a href="#" class="nav-link">Privacy policy</a>
        <a href="#" class="nav-link">Terms & Condition</a>
        <a href="#" class="nav-link">Security Information</a>
    </div>
</div>